extends ../clientpage
block clientcontent
    header 
        h1(align="center") Sorgu sonucu 
    table
        tr
            td Atandığı birim 
            td ...
    
    a.btn1(href="/") Yeni Sorgu