extends ../administrationpage.pug
block admincontent
    center 
        img(src="sample.jpg" width=500)
    p yandaki menüden sorgu ve sorgu sonucu ekranınızın 
        | tasarımını adım adım oluşturabilirsiniz.