extends ../administrationpage.pug
block admincontent

    fieldset 
        legend hatırlatma 
        ul
            li Dosya <kbd>.xlsx</kbd> formatında olmaldır. 
            li Personel listesi excel dosyamızın ilk sekmesinde bulunmalıdır.
            li Excel saysının ilk satırı sütun başlıklarını içermelidir.
            li Sütunlar şu şekilde sıralanmalıdır;
                br
                br
                table(border=1 cellpadding=5 cellspacing=0) 
                    tr
                        td T.C. No
                        td Sicil 
                        td Ad
                        td Soyad
                        td Geldiği İl
                        td Atandığı Birim
    
    form(action="/administrationpage/liste", method="post", enctype="multipart/form-data")  
        input(type="file", name="personellistesi", accept=".xlsx")
        br
        input(type="submit", value="LİSTEYİ GÖNDER")
    br
    br
    if liste.length===0
        p.warning SİSTEMDE YÜKLÜ BİR İSİM LİSTESİ BULUNAMADI.
    else
        h3 Yüklü Liste Önizlemesi
        table(border=1 cellspacing=0 cellpadding=5)
            tr
                each key in Object.keys(liste[0])
                    td=key
            each obj in liste.slice(0,5)
                tr 
                    each item in obj
                        td=item

        
    