extends ../administrationpage.pug
block admincontent

    fieldset 
        legend HATIRLATMA 
        p Bu ekranda bahse konu personel listesinin bulunduğu 
            | <kbd>excel</kbd> sayfamızı, veritabanı olarak 
            | kullanılması amacıyla sisteme yüklüyoruz.
        p yükleyeceğimiz excel sayfasının özelliklerinin ne olması
            | gerektiği ile ilgili bilgileri gözden geçirmek için 
            | <a href="/administrationpage">Kurulum bölümüne</a>
            | gidiniz.
        p Tekrar yükleme yapmanız halinde sistem eskisini silip 
            | yenisini kaydedecektir.
    br
    
    form(action="/administrationpage/liste", method="post", enctype="multipart/form-data")  
        input(type="file", name="personellistesi", accept=".xlsx")
        br
        input(type="submit", value="LİSTEYİ GÖNDER")
    br
    if liste.length===0
        p.warning SİSTEMDE YÜKLÜ BİR İSİM LİSTESİ BULUNAMADI.
    else
        h3 Yüklü Liste Önizlemesi
        table(border=1 cellspacing=0 cellpadding=5)
            tr
                each key in Object.keys(liste[0])
                    td=key
            each obj in liste.slice(0,5)
                tr 
                    each item in obj
                        td=item

        
    