body {
    height: 100vh;
    background-image: radial-gradient(#a7a7a7, #333);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-areas:
        'hdr hdr'
        'nv mn';
    grid-template-columns: 200px auto;
    grid-template-rows: 80px auto;
}

header {
    background-image: linear-gradient(#800e06, #500e00);
    border-bottom: 2px solid black;
    box-shadow: rgba(0,0,0,0.3) 10px 0 0;
    color: #fdfdfd;
    grid-area: hdr;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    line-height: 80px;
    font-size: 2em;
}

nav {
    padding-top: 40px;
    background-image: linear-gradient(90deg, #555, #333 70%, #333);
    grid-area: nv;
    display: flex;
    flex-direction: column;
}

nav a {
    color: azure;
    text-decoration: none;
    height: 2em;
    line-height: 2em;
    margin-left: 20px;
    padding-left: 1em;
    position: relative;
}

nav a.active {
    background-color: #fdfdfd;
    color: #666;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav a.active::after,
nav a.active::before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    right: 0px;
}

nav a.active::after {
    top: -10px;
    right: -10px;
    background-color: #333;
    border-bottom-right-radius: 100%;
    border-bottom: 10px solid #fdfdfd;
    border-right: 10px solid #fdfdfd;
}


nav a.active::before {
    bottom: -10px;
    right: -10px;
    background-color: #333;
    border-top-right-radius: 100%;
    border-top: 10px solid #fdfdfd;
    border-right: 10px solid #fdfdfd;
}

nav a:not(.active):hover{
    color: #cacaca;
}

main {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    grid-area: mn;
}
/************************************/

table{
    border-spacing: 0;
    border: #b8b8b8 thin solid;
    background-color: white;
}
table td{
    border: #b8b8b8 thin solid;
}
.preview{
    width: 600px;
    height: 334px;
    background-color: aquamarine;
    position: relative;
}
.preview span{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    background: white;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.3) 0 0 10px;
}

form.imgupload{
    display: flex;
    gap: 50px;
    justify-content: start;
}
.gallery{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.imgradio{
    display:flex;
    flex-direction: row;
    column-gap: 10px;
}
.imgradio label{
    padding: 5px;
    margin: 3px;
    background-color: transparent;
    max-height: max-content;
    border: transparent 3px solid;
    cursor: pointer;
}
.imgradio label img{
    height: 100px;
    max-width:100px
}
.imgradio label input{
    display: none;
}
.imgradio label:has(input:checked){
    border: #005CC8 3px solid;
    box-shadow: rgba(0,0,0,0.7) 0 0 10px;
}
.warning{
    font-size: larger;
    background-color: goldenrod;
    padding: 20px;
    border-radius: 4px;
}
.radiogroup{
    display: flex;
}
.radiogroup input{display:none}
.radiogroup label{
    padding: 3px 10px;
    color: #005CC8;
    border-top: thin solid #005CC8;
    border-bottom: thin solid #005CC8;
    border-left: thin solid #005CC8;
}
.radiogroup label:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.radiogroup label:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: thin solid #005CC8;
}
.radiogroup label:has(input:checked){
    background-color: #005CC8;
    color: white;
}
input[type='text']{
    border: #005CC8 solid thin;
    border-radius: 3px;
    padding: 3px 10px;
    color: #005CC8;
    font-size: 1em;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
    border: #005CC8 solid thin;
}
input[type='checkbox']:not(:checked){
}