doctype html
html(lang="en" style=`background-image:url(bg/${content.backgroundImage});background-size:${content.backgroundSize}`)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stil.css")
        title ATAMA SORGU
    body
        .container
            block clientcontent

