doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style.
            body{
                background:orange;
                display:flex;
                height:100vh;
                align-items:center;
                justify-content:center;
                font-family: sans-serif;
                font-size:large
            }
            .warning{
                width:500px;
                height:300px;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                background:radial-gradient(white,goldenrod);
                border-radius:30px;
                box-shadow:orangered 0 0 20px 0;
            }
        title HATA
    body 
        
        div.warning
            h1 😢
            div=error