doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="adminStil.css")
        title ATAMACI
    body 
        .container 
            header 
                h1 VERİLERİNİZ GÜNCELLENDİ....
                br
                a(href="/administrationpage") Düzenleme sayfasına geri dön...
                br
                br
