doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stil.css")
        title ATAMA SONUCU
    body 
        .container 
            header 
                h1(align="center") Sorgu sonucu 
            table
                tr
                    td Atandığı birim 
                    td ...
            
            a.btn1(href="/") Yeni Sorgu